<ion-header>
  <ion-toolbar>
    <ion-title>
        Esplora stanze
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="{{point?.image}}" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Benvenuto nella stanza</ion-card-subtitle>
        <ion-card-title>{{point?.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label><div [innerHTML]="point?.text"></div></ion-label>
      </ion-list-header>
    </ion-list>
</ion-content>
