node_modules
build
.DS_Store
website/templates/website/liveReloadConf.html
venv
*.pid
*.pyc
*.zip
*.sqlite3*
*.rdb
*.mo
.coverage
deploy_settings.py
cistiset/local_settings.py
static/
libs/
node_modules
.cache
coverage
media/

# Deploy settings

deploy_settings_local.sh
*.log

robots.txt
.vscode
postgres-data
piumadata
postgres-data
